body{
    background-color: lightgray;
}

.form-group{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

h2{
    color: red;
}
.form-group label {
        flex-basis: 100px;
        text-align: right;
        margin-right: 10px;
    }
